@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";



@theme {
  /* neutral */
  --color-Neutral900: #03012d;
  --color-Neutral800: #272541;
  --color-Neutral700: #312f4b;
  --color-Neutral600: #3d3b5e;
  --color-Neutral300: #aeaeb7;
  --color-Neutral200: #d5d4d9;
  --color-Neutral0: #ffffff;

  /* orange */
  --color-Orange500: #ff7c0a;

  /* blue */
  --color-Blue500: #4455da;
  --color-Blue700: #2d1c9c;


  /* dm sans  */
  --font-DMSans: 'DM Sans', sans-serif;

  /* bricolage grotesque */
  --font-BricolageGrotesque: 'Bricolage Grotesque', sans-serif;
}


input::placeholder {
  background: url('./assets/images/icon-search.svg') no-repeat left 20px center;
  background-size: 20px;
  padding-left: 50px;
}


/* --- Scrollbar Styling --- */
::-webkit-scrollbar {
  width: 4px;
  margin-left: 10px;

  /* width of scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--color-Neutral700);
  border-radius: 10px;
  margin-left: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-Neutral600);
  border-radius: 10px;
  border: 1px solid var(--color-Neutral700);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-Neutral600);
}