@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";


@theme {
  --color-Red500: #ec775f;
  --color-Blue300: #87bec4;


  --color-Brown950: #382314;
  --color-Brown400: #93867b;
  --color-Red100: #f9ece1;

  --font-DmSans: "DM Sans"
}