@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";



@theme {
  --font-Worksans: 'Work Sans', sans-serif;


  --color-Purple100: #f9f0ff;
  --color-Purple600: #8c6991;
  --color-Purple950: #2f1533;

  --text-Pbase: 16px;
}